h1 {
    color: blue;
}
p{
    color: blue;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.column {
    padding: 20px;
    box-sizing: border-box;
}

.narrow {
    flex: 1;
    background-color: #e0e0e0;
}

.wide {
    flex: 3;
    background-color: #c0c0c0;
}
